.video-card{
    width: 31%;
    height: 16rem;
    border-radius: 5px;
    background-color: var(--secondary-theme-color);
    padding-bottom: 5px;
}

.video-card:hover{
    box-shadow: 0 0 5px 2px var(--primary-theme-color);
    transition: ease-in 0.2s;
}

.img{
    height: 30vh;
}

.video-info-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 0 0;
}

.video-title{
    font-size: 1rem;
    margin: 0 0.5rem;
    color: var(--primary-theme-color);
}

.playlist-icon{
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--dark-theme-color);
}

@media screen and (max-width:992px) {
    .video-card{
        height: 15rem;
    }
}

@media screen and (max-width:600px) {
    .video-card{
        width: 65%;
        height: 14rem;
    }

    .video-title{
        font-size: 1rem;
        line-height: 1rem;
    }

}