.login-form{
    width: 35%;
    margin: 5vh auto;
    background-color: var(--secondary-theme-color);
}

.highlight{
    color: var(--primary-theme-color);
}

.other-option-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.show-hide-icon{
    position: absolute;
    bottom: 15px;
    right: 5px;
    cursor: pointer;
}

.test-credential{
    color: var(--primary-theme-color);
    cursor: pointer;
}