.form-wrapper{
    grid-area: form-wrapper;
    min-height: 100vh;
}

.login-form{
    width: 35%;
    margin: 7rem auto;
    background-color: var(--secondary-theme-color);
    border: 1px solid var(--dark-theme-color);
}

.input-label{
    color: var(--dark-theme-color);
    width: 10rem;
}

.welcome-note{
    color: var(--dark-theme-color);
}

.highlight{
    color: var(--primary-theme-color);
    text-decoration: none;
}

.other-option-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;
}

.show-hide-icon{
    font-size: 1.5rem;
    position: absolute;
    bottom: 12px;
    right: 5px;
    cursor: pointer;
}

.remember-me{
    padding: 0.5rem;
    color: var(--dark-theme-color);
}

.test-credential{
    color: var(--primary-theme-color);
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .login-form{
        width: 50%;
        margin: 6rem auto;
    }
}

@media screen and (max-width:600px) {
    .login-form{
        width: 80%;
    }

    .other-option-container{
        margin: 5px;
    }
    
    .remember-me{
        font-size: 12px;
        padding: 5px;
    }

    .test-credential{
        font-size: 12px;
    }
}