.single-player{
    width:95%;
    height: 90vh;
    margin: 1rem 0 0;
    background-color: var(--secondary-theme-color);
}

.option-container{
    display: flex;
    padding: 1rem 0 0;
}

.creator-avatar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.action-btn-container{
    padding: 1rem;
    display: flex;
}

.like-icon,.watchlater-icon,.playlist-icon,.trash-icon{
    font-size: 2rem;
    cursor: pointer;
    margin: 0 1rem;
}

.like-icon{
    color: var(--primary-theme-color);
}

.watchlater-icon{
    color : var(--primary-color);
}

