.single-player{
    width:95%;
    height: 90vh;
    margin: 1rem 0 0;
    background-color: var(--secondary-theme-color);
}

.option-container{
    display: flex;
    padding: 1rem 0 0;
}

.creator-name{
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    color: var(--dark-theme-color)
}

.single-page-video-title{
    font-size: 2rem;
    line-height: 2.5rem;
    color: var(--dark-theme-color)
}

.creator-avatar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
}

.creator-avatar-icon{
  width: 4rem;
}

.action-btn-container{
    padding: 1rem;
    display: flex;
}

.like-icon,.watchlater-icon,.trash-icon{
    font-size: 2rem;
    cursor: pointer;
    margin: 0 1rem;
}

.like,.watchLater{
    color: var(--dark-theme-color)
}

.like-icon{
    color: var(--primary-theme-color);
}

.watchlater-icon{
    color : var(--primary-color);
}

@media screen and (max-width:992px) {
    .single-player{
        width: 95%;
        margin: 1rem auto;
    }

    .creator-avatar-icon{
        width: 2rem;
        margin-bottom: 5px;
    }

    .creator-name{
        font-size: 1rem;
        line-height: 1rem;
    }

    .single-page-video-title{
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .like-icon,.watchlater-icon,.trash-icon{
        font-size: 1.5rem;
        margin: 0 1rem;
    }
}

@media screen and (max-width:600px) {
    .action-btn-container{
        padding: 5px;
        display: flex;
    }

    .single-page-video-title{
        font-size: 1rem;
        line-height: 1rem;
    }
}