.hero-section{
    background: linear-gradient(to left top,var(--warning-color),var(--primary-theme-color));
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: 1rem;
}

.hero-description , .hero-subtitle{
    color: var(--secondary-theme-color);
}

.explore-btn{
    width: max-content;
    padding: 1rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--secondary-theme-color);
    color: var(--primary-theme-color);
}

.category-section{
    margin: 1rem ;
}

.category-container{
    margin: 1rem 0;
}

.category-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.single-category{
    width: 20%;
    height: 30vh;
    background-color: var(--secondary-theme-color);
    border: 2px solid var(--primary-theme-light-color);
    border-radius: 5px;

    display: flex;
    align-items: center;
    cursor: pointer;
}
