.profile__wrapper{
    background-color: var(--danger-light-color);
    width: 70%;
    margin: 11rem auto;
}

.profile{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: var(--primary-theme-color);
}