.page-main{
    display: grid;
    grid-template-areas: 
    "header header header header header header header header header header header header"
    "side-navbar page-content page-content page-content page-content page-content page-content page-content page-content page-content page-content page-content";
    position: relative;
}

.login-page,.signup-page{
    display: grid;
    grid-template-areas: 
    "header header header"
    "form-wrapper form-wrapper form-wrapper";
    position: relative;
}

.website-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    width: 100%;
    padding: 0.5em 1.5em;
    border-bottom: 1px solid var(--dark-theme-color);
    grid-area: header;
    z-index: 10;
}


.header-title{
    font-size: 2rem;
    line-height: 2.5rem;
    text-decoration: none;
    color: var(--dark-theme-color)
}

.header-title-logo{
    color: var(--primary-theme-color);
}


.search-input{
    width: 30%;
    margin: 0 10%;

    font-family: 'Montserrat', sans-serif;
}

.side-navbar{
    width: 14rem;
    margin-right:5px;
    position: fixed;
    margin-top: 3rem;
    padding: 1rem 0;
    height: 93vh;
    border: 1px solid var(--dark-theme-shade-20);
    grid-area: side-navbar;
}

.nav-icons{
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0 15px;
}

.page-content{
    grid-area: page-content;
    margin: 3rem 0 0 14rem;
}

.active-style{
    background-color: var(--primary-theme-shade-20);
}

.navigate-link{
    text-decoration: none;
    color: var(--primary-theme-color)
}

.img__wrapper{
    width: 60%;
    margin: 5vh auto;
}

.logout-icon{
    font-size: 2rem;
    cursor: pointer;
    margin-left: 1rem;
}

.no-like-video,.no-watchlater-video,.no-history-video{
    width: 50%;
    margin: auto;
    min-height: 90vh;
}

.like-video-container,.watchlater-video-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    min-height: 90vh;
}

.mode-icon{
    font-size: 2rem;
    cursor: pointer;
    color: var(--primary-theme-color);
    margin-right: 1rem;
}

@media screen and (max-width: 992px) {
    .page-main{
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 
        "header header header"
        "page-content page-content page-content"
        "side-navbar side-navbar side-navbar";
    }

    .side-navbar{
        position: fixed;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0;
        justify-content: space-between;
        height: auto;
        margin: 0;
        bottom: 0;
    }

    .nav-option{
        display: none;
    }

    .page-content{
        margin: 10vh auto;
    }
}

@media screen and (max-width:600px) {
    .header-title{
        font-size: 1rem;
        line-height: 2rem;
    }   

    .search-input{
        width: 70%;
        margin: 0 5%;
    }

    .nav-icons{
        font-size: 1rem;
        line-height: 2rem;
        margin: 0 8px;
    }
}