.page-main{
    display: grid;
    grid-template-areas: 
    "header header header header header header header header header header header header"
    "side-navbar page-content page-content page-content page-content page-content page-content page-content page-content page-content page-content page-content";
    position: relative;
}

.website-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    width: 100%;
    padding: 0.5em 1.5em;
    background-color: var(--secondary-theme-color);
    grid-area: header;
}

.header-title-logo{
    color: var(--primary-theme-color);
}

.header-description{
    color: var(--primary-theme-light-color);
}

.search-input{
    width: 30%;
    margin: 0 10%;

    font-family: 'Montserrat', sans-serif;
}

.side-navbar{
    width: 20vw;
    margin-right:5px;
    position: fixed;
    margin-top: 12vh;
    height: 87vh;
    background-color: var(--secondary-theme-color);
    grid-area: side-navbar;
}

.icon-margin{
    margin: 0 15px;
}

.page-content{
    width: 77vw;
    grid-area: page-content;
    margin: 12vh 0 0 21vw;
}

.active-style{
    background-color: var(--primary-theme-shade-20);
}