.categorychip-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.videos-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

@media screen and (max-width:600px) {
    .videos-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}