.signUp-form{
    width: 35%;
    margin: 5vh auto;
    background-color: var(--secondary-theme-color);
}

.highlight{
    color: var(--primary-theme-color);
}

.other-option-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.show-hide-icon{
    font-size: 1.5rem;
    position: absolute;
    bottom: 12px;
    right: 5px;
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .signUp-form{
        width: 50%;
    }
}

@media screen and (max-width:600px) {
    .signUp-form{
        width: 80%;
    }

    .other-option-container{
        margin: 5px;
    }
    
    .remember-me{
        font-size: 12px;
        padding: 5px;
    }

}