.signUp-form{
    width: 45%;
    margin: 5vh auto;
    background-color: var(--secondary-theme-color);
}

.highlight{
    color: var(--primary-theme-color);
}

.other-option-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.show-hide-icon{
    font-size: 1.5rem;
    position: absolute;
    bottom: 12px;
    right: 5px;
    cursor: pointer;
}
