@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 100%;
}

body{
    font-family: 'Overpass', sans-serif;
}

.dark-theme{
    background-color: var(--dark-theme-color);
    color: var(--secondary-theme-color);
}

.light-theme{
    background-color: var(--secondary-theme-color);
    color:  var(--dark-theme-color);
}
